<footer class="footer">
    <div class="container">
        
        {% if site.footer_menu %}
        <div class="columns is-multiline">
            {% for item in site.data[site.footer_menu] %}
            <div class="column has-text-centered ">
                <div>
                    <a href="{{ item.link | prepend: site.baseurl }}" class="link has-text-dark">{{ item.name }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <div class="content is-small has-text-centered">
            <p class="">Typed crafted by a &#128008;</a></p>
        </div>
    </div>
</footer>
<nav id="navbarBottom" class="is-hidden-desktop navbar is-fixed-bottom has-shadow">
  <div class="navbar-brand">
     <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
           {%- include phone.html -%}
          </p>
      </div>
    </div>

   <!--  <div class="navbar-end">
     
    </div> -->
  </div>
</nav>