<a class="button is-secondary" style="height: 2.25em; padding: calc(.375em - 1px) .75em;" href="tel:1-604-760-6815">
    <span class="icon is-large">
        <i style="transform:scale(-1,1);" class="fas fa-phone"></i>
    </span>
    <strong>(604) 760-6815</strong>
</a>
<a class="button is-secondary" style="height: 2.25em; padding: calc(.375em - 1px) .75em;" href="/biogard">
    <span class="icon is-large">
        <i style="transform:scale(-1,1);" class="fas fa-user-shield"></i>
    </span>
    <strong>Biogard Tech</strong>
</a>